apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: kube-prometheus-stack
spec:
  interval: 30m
  chart:
    spec:
      chart: kube-prometheus-stack
      version: "79.5.0"
      sourceRef:
        kind: HelmRepository
        name: kube-prometheus-stack
        namespace: monitoring
      interval: 12h

  install:
    crds: Create
  upgrade:
    crds: CreateReplace

  driftDetection:
    mode: enabled
    ignore:
      - paths: ["/metadata/annotation/prometheus-operator-validated"]
        target:
          kind: PrometheusRule

  values:
    grafana:
      resources:
        requests:
          cpu: "30m"
          memory: "64Mi"
          ephemeral-storage: "128Mi"
        limits:
          cpu: "200m"
          memory: "128Mi"
          ephemeral-storage: "512Mi"
      enabled: true
      podAnnotations:
        reloader.stakater.com/auto: "true"
      serviceAccount:
        create: true
      sidecar:
        dashboards:
          enabled: true
        datasources:
          enabled: true
      admin:
        existingSecret: grafana-admin-creds
        userKey: admin-user
        passwordKey: admin-password
      ingress:
        enabled: true
        ingressClassName: traefik
        annotations:
          cert-manager.io/cluster-issuer: "letsencrypt-production"
          cert-manager.io/acme-challenge-type: "http01"
        hosts:
          - graf.heroaero.info
        tls:
          - secretName: grafana-tls
            hosts:
              - graf.heroaero.info
