apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - ./namespace.yaml
  - ./external-secret.yaml
  - ./1-external-secret.yaml
  - ./scrapeconfig.yaml
  - ./helm-repo.yaml
  - ./helm-release.yaml
