apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: linkding
spec:
  tls:
    - hosts:
        - link.heroaero.info
      secretName: linkding-tls
  rules:
    - host: link.heroaero.info
      http:
        paths:
          - backend:
              service:
                name: linkding
                port:
                  number: 6767
            path: /
            pathType: Prefix
