apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: podinfo
  namespace: flux-system
spec:
  interval: 5m0s
  path: ./kustomize
  sourceRef:
    kind: GitRepository
    name: podinfo
  targetNamespace: default
  prune: true
  wait: true

